:root {
  /* Design System Variables from Figma */
  --main-blue-900: #2c346d;
  --neutrals-600: #404040;
  
  /* Additional variables from design */
  --neutral-neutral-25: #fafafb;
  --neutral-neutral-50: #f5f6f8;
  --neutral-neutral-100: #eceef2;
  --neutral-neutral-200: #dcdfe6;
  --neutral-neutral-300: #b4b7c1;
  --neutral-neutral-400: #8f929f;
  --neutral-neutral-600: #595c68;
  --neutral-neutral-800: #2a2d38;
  --neutral-neutral-900: #24272f;
  --base-base-light: white;
  --content-content-text-secondary: #6d707e;
  --content-content-text-primary: #24272f;
  --primary-primary-25: #fbfbfe;
  --primary-primary-50: #f4f5fb;
  --primary-primary-100: #e8eaf6;
  --primary-primary-300: #9ba3d8;
  --primary-primary-400: #7380ca;
  --primary-primary-500: #4250af;
  --primary-primary-600: #354091;
  --stroke-0: rgba(8, 9, 13, 1);
  
  /* Spacing */
  --spacing-xxs: 2px;
  
  /* Shadow */
  --primary-shadow: 0px 0px 0px 3px rgba(110, 123, 206, 0.12);
}

